.app {
    background: #e9e7e7;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    grid-area: cabecalho;
    /*para centralizar*/
    padding: 0 2rem;
}
 
.destaques {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    grid-area: rodape;
    background: #fdfdfd;
    color:#333333;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;

}